<%- include('./partials/nav') %>
    <h1><%= user.username %>'s dashboard</h1>
   <% if (recipe){ %>
      <%   recipe.forEach((item)=>{ %>
        <H2>your recipes</H2>
          <a href="/recipes/<%= item._id %>"><%= item.name %> </a>  
        <%  }) %>  
    <% }if(recipe.length===0){%>
  <p> you do not have any recipes</p>
  <a href="/recipes/new">Add Recipe</a>     

   <% }%>
   <div class="posts">
    <h2>share your drink post</h2>
    <form action="/dashboard" method="post" enctype="multipart/form-data">
      <label for="image">Add Image</label>
        <input type="file" name="image" id="image" accept="image/jpeg,image/png,image/webp" required>
        <br>
    <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <br>
        <button type="submit"> post</button>
    <br>
    </form>
   </div>
   <h2>Posts</h2>
  <% allPosts.forEach((item) => { %>
    <p class="browser-warning"></p>
<div class="stack">
  <div class="card">
    <div class="image">
      <img src="<%= item.image.url %>" alt="">
    </div>

    <p><%= item.description %></p>
    <p><%= item.owner.username %></p>
    <%})%>
  </div>
</div>

</body>
</html>