<%- include('../partials/nav') %>
<h2>Edit your recipe</h2>
<form action="/recipes/<%= recipe._id %>/?_method=PUT" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= recipe.name %>" >
    <br>
    <label for="selectedFlavor">Flavor</label>
    <select name="selectedFlavor">
            <% findFlavor.forEach((item) => {%>
        <option value="<%=item._id%>"><%=item.flavor%></option>
 <%   }) %>
    </select> 
    <br>
    <label for="description">Description</label>
    <textarea name="description" id=""><%= recipe.description %></textarea>
    <br>
    <label for="rate">Rate</label>
    <input type="Number" name="rate" id="rate" min="0" max="10" value="<%= recipe.rate %>">
    <br>
    <button type="submit">Add recipe</button>
    </form>
</body>
</html>