<%- include('../partials/nav') %>
    <h2> <%= recipe.name %> </h2>
    <h2> <%= recipe.rate %> </h2>
    <h2> <%= recipe.description %> </h2>
    <h2><%= findFlavor.flavor%></h2>

   <%if(recipe.owner._id.equals(user._id)){ %>
    you own this!
<form action="/recipes/<%= recipe._id %>?_method=Delete" method="post">
    <button type="submit">Delete</button>
</form>
 <a href="/recipes/<%= recipe._id %>/edit"> edit </a>
 <% }%>
  <h2>Add your opinion about this recipe</h2>
         <form action="/recipes/<%=recipe._id %>/comments" method="post">
            <textarea name="comment" rows="1"></textarea>
            <br>
            <button type="submit">Send</button>
         </form>
          <h3>Opinions from users</h3>
        <% recipe.comments.forEach((item) =>{%> 
        <p> <%= item.comments %> </p>
        <p>asked by : <%= item.author.username %></p>
        <%  })%>
</body>
</html>